@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body {
    overflow-x: hidden !important;
    box-sizing: border-box;
    
    
}

p {
    font-size: 12px;
}
.btncls{
 background-color: rgb(178, 38, 66) !important;
color: white !important;
font-weight: bold !important;
transition: 1s !important;
border: none !important;
border-radius: 8px;
}

.btncls:hover {
    background-color: blue !important;

}
.nav-link{
    transition: 1.5s !important;
}
.nav-link:hover {
    background-color:  rgb(178, 38, 66) !important;
}

span {
   color: rgb(5, 10, 109) !important;
}

.img-1{
    background-image:linear-gradient(to left  bottom,rgba(0, 0, 255, 0.979),rgba(255, 0, 0, 0.903));
    background-position: center;
    background-size: cover;
    
}

.bbb {
    background-color:rgba(0, 0, 0, 0.297);
    border-radius: 8px;
    box-shadow: 10px 14px 20px #181313;
}


/* 222222222 */
/* 333333 */
.ffff{
    background-color: #4a2d7f !important;
}

.hhhh {
    font-size: 40px;
}

.nnnn{
    background-color: rgba(0, 0, 0, 0.303);
}

/* 44444444 */
.img-2 {
    background-image:linear-gradient(to left  bottom,rgba(36, 10, 82, 0.605),rgba(36, 10, 82, 0.611)) ,url("./img/7.jpg");
    background-position: center;
    background-size: cover;
}

.llll {
    color:red;
}
.videoo{
    border-radius: 12px;
}

.ggggq{
    background-color: rgba(0, 0, 0, 0.237);
}


.img-3 {
    /* background-image:linear-gradient(to left  bottom,rgba(23, 19, 75, 0.926),rgba(23, 114, 3, 0.932)) ,url("./img/20.jpg");
    background-position: center;
    background-size: cover; */
    background-image:linear-gradient(to left  bottom,rgba(0, 0, 255, 0.873),rgba(255, 0, 0, 0.725)) ,url("./img/21.jpg");
    background-position: center;
    background-size: cover;
}
.spn {
    color: green;
    margin: 0;
    padding: 0;
}

.textA{
    text-align: left;
}

.hjkl {
    width: 200px;
}
.hhjjkkll {
    background-color: #4a2d7f;
}

.color-1 {
    background-color:rgba(60, 121, 119, 0.981);
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}
.box {
    box-shadow: 8px 12px 20px black;
}
.ffff {
    width: 100% !important;
}